name: Java CI
on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/cache@v3.0.2
      with:
        path: ~/.gradle/caches
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
        restore-keys: |
          ${{ runner.os }}-gradle-
    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '8'
    - name: Check plugin
      run: ./gradlew check
    - name: Publish Test Report
      if: ${{ always() }}
      uses: mikepenz/action-junit-report@v3.0.1
      with:
        check_name: Java CI / Test Report
        report_paths: '**/build/test-results/*/TEST-*.xml'
    - name: Publish to Sonatype OSSRH
      if: github.event_name == 'push'
      env:
        SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
        SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
        GPG_KEY_ID: ${{ secrets.GPG_KEY_ID }}
        GPG_PASSWORD: ${{ secrets.GPG_PASSWORD }}
        GPG_FILE: ${{ secrets.GPG_FILE }}
      run: |
        echo $GPG_FILE | base64 -d > secring.gpg
        ./gradlew publish
